<div class="product-list-container">
    <h1>Product List</h1>
    <table class="product-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <button (click)="(product.id)">Edit</button>
                    <button (click)="(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button>Add Product</button>
</div>
